Basic Syntax of Python

In [1]:
print("Hello world!")

Hello world!

<b>COMMENTS

In [6]:
# - single line comments

In [12]:
""" hi 
hi 
hi""" or ''' '''# - multi line comments

print("hi")

hi

<b>VARIABLES<b>

Variables- Identity memory location. 
           Varaiable is used too store data of a program

In [23]:
Name = "Man"
Age = 21
College = "SVIT"
is_student = True
print(Name,Age,College,is_student)
print(f"Name: {Name}, Age: {Age}, College: {College}, Is student: {is_student}")

# If you want to delete any thing use del keyword
del Age
print(Name,College,is_student)

Man 21 SVIT True
Name: Man, Age: 21, College: SVIT, Is student: True
Man SVIT True

In [26]:
# Python Allows you to assign values to variable in a single line

x,y,z = 1,2,3
print(y)
print(x)
print(z)

2
1
3

In [29]:
# print value using f-string (formatting) :

a=1
print(f"a:{a}")

a:1

In [33]:
# Declare varaibale in same line :
a,b,c = 1,2,3
print(f"a-{a},b-{b},c-{c}")

a-1,b-2,c-3

In [48]:
# Declare and print details of employee :
emp_name = "man"
emp_num = 6376282879
emp_salaray = "0"
emp_gender = "Straight"
emp_married = False
print("Details of employee are :")
print(f"emp_name={emp_name}\nemp_num={emp_num}\nemp_salaray={emp_salaray}\nemp_gender={emp_gender}\nemp_married={emp_married}")

Details of employee are :
emp_name=man
emp_num=6376282879
emp_salaray=0
emp_gender=Straight
emp_married=False

<b>DATA TYPES:<br>
varaibles can store different kinds of data,
type - we can find find which kind of datatype it is ...

Text : string<br>
Numeric types : int, float, complex<br>
Sequence types : list, tuple, range<br>
Mapping types : Dictionary <br>
Set types : set, frozenset<br>
Boolean types : true , false<br>

In [50]:
# Assign Different type of values to variable and print its type

a = "man"
b = 2
c = 1.0
d = True
e = "2"
f = None
g = [3,"m",23]
h = (2,"m",23)
i = {1:"s",2:"p",3:"o"}
j = {a,b,c}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

<b> STRINGS<b>

<p>It is a collection of alhabets, words or other charcters. Anything inside a quotation is a string, we can use single and double quotation to declare strings but triple quotation are used to define ultiple lines.</p>

<b>String Uses<b>
    
1. String ConcateConcatenation (+) : adding two variables<br>

In [55]:
a = "man"
b = "ish"
c = a+" "+b
print(c)

man ish

2. String Multiplication(*) : multiplying one variable to required times.

In [61]:
a = "man "
b = 5
c = a*b
print(c)

man man man man man

3. String Length : The len() function returns the lenth of a string

In [7]:
a = "Hello"
b = "Hello Hello"
print(len(a))
print(len(b))

5
11

MEMBERSHIP OPERATORS

3.1 . Check String : It returns true or false if given varibale is present- use "in"

In [5]:
a = "Yes or no"
print("Yes" in a)
print("what" in a)

True
False

3.2 . Check if not: It returns true or false if given varibale is present. we use "not in"

In [11]:
a = "Yes or no"
print("Yes" not in a)
print("what" in a)
b = 1,2,3,4
print(5 not in b)
print(5 in b)

False
False
True
False

4. String Quotations :

In [17]:
print("Hello, 'Iam very happy'")
print('Hello, "Iam very happy"')
print("ola, '!uber'\n")
x = """hello python,
It is simple and
syntax free"""
print(x)

Hello, 'Iam very happy'
Hello, "Iam very happy"
ola, '!uber'

hello python,
It is simple and
syntax free