<h1>Type Casting</h1><br>
<h4><i>conversion of one datatype to another datatype. There are some functions which is used for python type casting</i></h4>

-int()
-float()
-str()
-bool()
-list()
-tuple()
-set()

1. convert int to float

In [4]:
x = 123
print(x,type(x))
y = float(x)
print(y,type(y))

123 <class 'int'>
123.0 <class 'float'>

2. convert float to int

In [5]:
x = 123.123
print(x,type(x))
y = int(x)
print(y,type(y))

123.123 <class 'float'>
123 <class 'int'>

3. convert int to string

In [10]:
x = 34
y = str(x)
print(x,type(x))
print(y,type(y))

34 <class 'int'>
34 <class 'str'>

4. convert float to string

In [11]:
x = 34.23
y = str(x)
print(x,type(x))
print(y,type(y))

34.23 <class 'float'>
34.23 <class 'str'>

5. convert str(num) to int

In [12]:
x = "123"
y = int(x)
print(x,type(x))
print(y,type(y))

123 <class 'str'>
123 <class 'int'>

6. convert str(float) to float

In [13]:
x = "12.3"
y = float(x)
print(x,type(x))
print(y,type(y))

12.3 <class 'str'>
12.3 <class 'float'>

7. convert into boolean

In [22]:
a = 1
b = "hii"
c = 2.3
d = True
e = None
f = 0
g = False
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print(bool(g))
print(str(a)+" "+b)
print(f"a+b = {a+int(c)}")

True
True
True
True
False
False
False
1 hii
a+b = 3

In [26]:
print(float(55))
print(int(2.3))
print(int(True))
print(float(False))
print(bool(" "))
print(bool(""))
print(bool(34))
print(bool(-2))
print(bool())

55.0
2
1
0.0
True
False
True
True
False

In [30]:
print(bin(1)) # bin() gives binary values of digits
print(bin(18))

0b1
0b10010

<h1>character system : </h1><br>
<p>It is representation of all symbols of a language using constant integers values.</p>

<h4>ASCII - Americans standard code for Information Interchange</h4>

<p>
<i>
represents all symbols in 1 language using constants - It includes small, capital alphabets, numbers, alpha numerics.<br>
Range is 0 - 255<br>
1 byte range is (0 - 255)-> 2^8 value<br>
Hence we rep a symbol using 1 byte memory.<br>
chr() - Returns the symbol for specified integer value.<br>
ord() - Returns Ascii value.
</i>
</p>

In [38]:
print(chr(65))
print(ord('a'))
print(ord('&'))

A
97
38