<b>1. INDEXING & SLICING

<p> we can access elements by indexing and slicing.

sequence datatypes are strings,list,tuple.

<i><b>indexing</b> : It is used to obtain individual elements. starts from 0.negative indexing starts from -1 it represents last element.

<i><b>Slicing</b> : It obtains a sequence of elements.

str = "python"

-6 -5 -4 -3 -2 -1  -  negative indexing/backward indexing<br>
 p  y  t  h  o  n<br>
 0  1  2  3  4  5  -  positive indexing/forward indexing

In [15]:
x = "Environment"
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[6])
print(x[7])
print(x[8])
print(x[9])
print(x[10])
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])
print(len(x))

E
n
v
i
r
o
n
m
e
n
t
t
n
e
m
n
11

In [21]:
# Reverse a string using slicing
x = "man"
y = x[::-1]
print(y)

nam

In [17]:
# SLICING start : stop : skip
# give n+1 for getting correct output

str = "ali baba"
print(str[0:6])
print(str[0:7])
print(str[4:]) # after index 4
print(str[:4]) # before index 4
print(str[0:8:2])
print(str[-9:])
print(str[-9:-4])
print(str[-4:])

ali ba
ali bab
baba
ali
aibb
ali baba
ali
baba

In [18]:
b = "Taj mahal"
print(b[0:3])
print(b[::1])
print(b[::-1])
print(b[4::2])
print(b[-1:-6:-1])
print(b[-7::-1])

Taj
Taj mahal
laham jaT
mhl
laham
jaT

In [32]:
s = "Alluri sitha rama raju"

# forward slicing
print(s[0:6])
print(s[7:12])
print(s[13:17])
print(s[18:])
print(s[0:])
print(s[::])

# Reverse slicing
print(s[-1:-5:-1])
print(s[-6:-10:-1])
print(s[-11:-16:-1])
print(s[-17::-1])
print(s[::-1])

Alluri
sitha
rama
raju
Alluri sitha rama raju
Alluri sitha rama raju
ujar
amar
ahtis
irullA
ujar amar ahtis irullA

<h3> MUTABLE & IMMUTABLE OBEJECTS:</h3>
    
<pre>An immutable object is whole value cannot be changed. In python integers, strings, float and tuples are immutable objects.
This means you can create object and assign some values to it but you cant modify.
    
An mutable object are those values can be changed.
Mutable Types are list, dict and set.

In [39]:
# numbers are immutable
numbers = 123456789
#print(num[1:5]) # will get a error because numbers are immutable objects.just we can print as it is.
print(num)

123456789

<h3> STRING METHODS </h3>

python has a set of built in methods that you use on strings. All string methods return new values. They do not change orginal string. Strings are mutable.
<p> There are "21" strring methods
<pre>
1. upper()
2. lower()
3. title()
4. capitalize()
5. swapcase()
6. strip()
7. lstrip()
8. rstrip()
9. rjust()
10. ljust()
11. center()
12. count()
13. find()
14. split()
15. replace()
16. startswith()
17. endswith()
18. join()
19. index()
20. rindex()
21. zfill()
</pre>

1. upper() - converts a string into uppercase

In [40]:
str = "HeRo"
print(str.upper())

HERO

2. lower() - converts a string into lowercase

In [42]:
str = "HellO"
print(str.lower())

hello

3. title() - converts the first character of each word to upper

In [43]:
str = "the man is good!"
print(str.title())

The Man Is Good!

4. capitalize() - converts the first charcter to upper case

In [51]:
str = "the lion king"
print(str.capitalize())

The lion king

5. swapcase() - convertsthe upper case into lowercase and lower case to upper case

In [52]:
str = "tHE lION kING"
print(str.swapcase())

The Lion King

6. strip() - removes the spaces at the beginning and ending of the string.

In [53]:
str = "           looking good man       "
print(str.strip())

looking good man

7. lstrip() - removes the left side beginning spaces.

In [55]:
str = "           looking good man       !"
print(str.lstrip())

looking good man       !

8. rstrip() - removes the right side of the sring spaces

In [66]:
str = "           looking good man!       "
print(str.rstrip())

           looking good man!

9. ljust() - returns a left justified version of string

In [67]:
str = "hello"
print("!",str.ljust(15),"!") # 15 spaces included with string length.

! hello           !

10. rjust() - returns a right justified version of a string.

In [68]:
str = "hello"
print("!",str.rjust(15),"!") # 15 spaces included with string length.

!           hello !

11. center() - This method will align the string taking up the space number of characters

In [71]:
str = "hello"
print("!",str.center(30),"!")

!             hello              !

12. count() - Returns the number of times a specified value occurs in a string.

In [75]:
str = "hello world"
print(str.count("l"))
print(str.count("hello"))

3
1

13. find() - This method finds the first occurence of the specified text

In [80]:
str = "hello world !"
print(str.find("!")) # returns the index of the given string

12

14. split() - splits the string into a list where each word is list item.

In [81]:
str = "hello world !"
print(str.split())

['hello', 'world', '!']

15. replace() - Replaces a specified word another specified text.

In [82]:
str = "hello world @"
print(str.replace("@","!"))

hello world !

16. startswith() - returns true if the string starts with the specified value.

In [85]:
str = "hello world !"
print(str.startswith("hello"))
print(str.startswith("!"))

True
False

17. endswith() - returns true if the string ends with the specified value.

In [87]:
str = "hello world !"
print(str.endswith("!"))
print(str.endswith("hello"))

True
False

18. join() - joins all the items in a tuple & list into a string.

In [88]:
courses = ("c","python","is","required","!")
print(" ".join(courses))

c python is required !

In [89]:
courses = ["c","python","is","required","!"]
print(" ".join(courses))

c python is required !

19. index() - searches the string for a required value and returns the positions.

In [109]:
str = "hello world"
print(str.index("l"))

2

20. rindex - searches the string for a specified value and returns the last postion of where it was found.

In [111]:
str = "hello world hello world"
print(str.rindex("hello"))
print(str.rindex("world"))

12
18

21. zfill() - fills the string with a specified number of various 0 values at the beginning

In [112]:
num = "123"
print(num.zfill(6))

000123